<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Currency_converter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% load static %}
</head>
<body>
    <div>
        <div class="d-flex justify-content-center upper_flexbox border">
            Верхний флекс бокс
        </div>
        
        {% block lower_flexbox %}
        {% endblock lower_flexbox %}
    </div>
</body>
</html>


<style>
    .upper_flexbox{
        height: 400px;
    }
</style>